    body {
      background-color: gray;
      padding: 0;
      margin: 0;
    }

    #navbar {
      background-color: #FFFFFF;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: right;
    }

    .outside_link {
      margin: 0 10px;
    }

    .base_box {
      background-color: white;
      margin: 30px;
      padding: 20px;
    }

    #percobaan {
        font-size: 45px;
    }

    a{
        text-decoration: none;
    }

    a:link{
        color: black;
    }

    a:visited{
        color: black;
    }

    a:hover{
        color: red;
    }